<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.onesocialweb.openfire.OswPlugin</class>
   <name>${pom.name}</name>
   <description>${pom.description}</description>
   <author>Vodafone Group Services Limited.</author>
   <url>http://onesocialweb.org</url>
   <version>${pom.version}</version>
   <date>${openfire-plugin.build.date}</date>
   <minServerVersion>3.6.4</minServerVersion>
   <licenseType>apache</licenseType>
</plugin>
